  
  body {
 
    background-color:  }
	/* ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 1em;
    left: 1em;
    width: 10em }
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		ul.navbar li {
    background:  ;  /*add colour*/
    /*margin: 0.5em 0;
    padding: 0.3em;
    border-right:  }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
	*/
	.bg-img {
  /* The image used */
  background-image: url("../images/front_image.png");

  min-height: 699px;
 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
	
	/* Style the links inside the sidenav */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: -200px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 205px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 0px 10px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home  {
  top: 20px;
  background-color: #04AA6D; /* green */
}

#technology {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#opportunities {
  top: 140px;
  background-color: #f44336; /* Red */
}

#risks {
  top: 200px;
  background-color: #555 /* Light Black */
}

#choices {
  top: 260px;
  background-color: #F9A602;  /* gold */
}

#ethical {
  top: 320px;
  background-color: #532D84; /* purple */
}

#references {
  top: 380px;
  background-color: #662B00; /* Red */
}

#process {
  top: 440px;
  background-color: #FE5BAC /* Light Black */
}

#meeting {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#project {
  top: 140px;
  background-color: #f44336; /* Red */
}



	



/* Create two unequal columns that floats next to each other */
/* Left column */
.text{   
  float: left;
  width: 90%;
  padding-left: 40px;
}


